*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #060515;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #ccc;
    height: 100%;
    
}

header h1{
    text-align: center;
    color: #ccc;
    font-size: 2.5em;
    margin: 30px 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-jogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.qd-velha{
    width: 150px;
    height: 150px;
    background-color:  #0b0a24e8;
    margin: 0 10px 10px 0;
    cursor: pointer;
    text-align: center;
    font-size: 4em;
    padding: 20px;
}

.vez-jogar, .vencedor, .btn{
    margin: 10px 0;
    font-size: 1.2em;
}

.vencedor{
    height: calc(100% - 10px);
    background-color: rgba(7, 7, 7, 0.544);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.info-resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resultado{
    font-size: 2em;
    margin-bottom: 50px;
    color: #ad9417;
}

.btn button{
    padding: 5px;
    font-size: 1.1em;
    width: 150px;
    background-color: #ad9417;
    font-weight: bold;
    color: #0b0a24e8 ;
    cursor: pointer;
}